*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    background-image: url("fondos/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    width: 100%;
    height: 97vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

article{
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    padding: 20px 50px;
    border-radius: 10px;
}

button{
    color: #ffffff;
    padding: 1em;
	background: linear-gradient(95.2deg, #184e68 -3.82%, #57ca85 106.31%);
	border-radius:  1em;
    border: none;
    font-size: 15px;
}
button:hover{
    background: linear-gradient(95.2deg, #57ca85 -3.82%, #184e68 106.31%);
}

p, #respuesta{
    font-size: 15px;
}

select{
    padding: 1em;
    border-radius:  1em;
    border: none;
    font-size: 15px;
}

#speech-select{
    display: none;
}
